name: Deploy EC2
on:
  push:
    branches:
      - master
jobs:
  deploy-aws:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      - name: deploy over ssh
        run: |
          chmod +x ./docker/deploy_to_aws.sh
          ./docker/deploy_to_aws.sh

