name: Deploy EC2 self-hosted
on:
  release:
    types: [published]
jobs:
  deploy-aws:
    runs-on: [self-hosted]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: update code and containers
        run: |
          sudo docker image prune -f
          cd ~/apps/testsymfony5docker/docker/
          sudo docker-compose down
          cd ..
          git fetch origin
          git reset --hard origin/master  &&  echo 'You are doing well'
          cd docker/
          sudo docker-compose build && sudo docker-compose up -d
